{% assign needed_for_discount = 5 | minus: cart.item_count %}
{% if cart.item_count < 5 %}
  <div class="page-width">
    <div class="alert warning">Add {{ needed_for_discount }} more product(s) to get 20% off on your order</div>
  </div>
{% endif %}
{% if cart.item_count >= 5 %}
  <div class="page-width">
    <div class="alert success">You get 20% off on your orders</div>
  </div>
{% endif %}
{% schema %}
{
 "name": "Liquid Object",
  "settings": [
    {
      "id": "liquid-ref",
      "type": "text",
      "label": "Text box heading",
      "default": "Title"
    }
  ],
  "presets": [
    {
      "name": "Liquid Reference",
      "category": "Reference"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    .alert.warning {
      background: #f8ffad;
  }

    .alert.success {
      background: #8bd478;;
  }
    .alert{
          padding: 2rem;
      margin-top: 4rem;
      text-align: center;
    }
{% endstylesheet %}

{% javascript %}
  //On Cart update Get Item count and update alert message


   // $.ajax({
   //       type: 'GET',
   //       url: '/cart.js',
   //       cache: false,
   //       dataType: 'json',
   //       success: function(cart) {
   //          console.log(cart.item_count)
   //       }
   //   });

  //   $('cart-items').on('change', function(){ alert('Cart updated'); });

  //Query the cart via AJAX API
   var cartContents = fetch(window.Shopify.routes.root + 'cart.js')
     //grabbing the response as json
   .then(response => response.json())
     //which returns a promise
   .then(data => { return data });

  //Take the promise then get the result
  cartContents.then(function(result){
    console.log(result.item_count); //and display the item count from result (promise is resolved)
  }, function(err){
    console.log(err); //(promise is rejected)
  })
{% endjavascript %}
